@use 'main';

.home {
    background: black;
    position: relative;
    text-align: center;
    color: main.$light-grey;
    display: flex;
    flex-wrap: wrap;

    .background {
        height: 100vh;

        img {
            height: 100%;
            width: 100%;
            object-fit: cover;
        }
    }


    .box {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        display: flex;
        flex-direction: column;

        h1 {

            font-size: 4rem;
            text-align: center;
            font-weight: 300;

        }

        h3 {
            font-style: italic;
            font-size: 1.6rem;
            text-align: center;
            font-weight: 500;
        }
    }




}