@use 'main';

.presentation-pages {
    width: 100%;
    position: relative;
    display: flex;
    flex-wrap: wrap;


    .box {
        flex: 1 1 160px;
        position: relative;


        .data {
            flex: 1 1 160px;

            color: main.$light-grey;
            position: absolute;
            bottom: 0;

            h2 {
                line-height: 100px;
                font-weight: 300;
            }

            h3 {
                line-height: 100px;
                font-weight: 400;
            }

            .bold {
                font-weight: bold;
                padding-bottom: 20px;
            }

            p {
                line-height: 25px;
            }
        }

        img {
            width: 100%;

        }

        button {
            background: black;
            color: main.$light-grey;
            padding: 15px;
            margin-top: 25px;
            font-size: 1rem;

            &:hover {
                cursor: pointer;
            }
        }

    }

}