@use 'main';

.header {
    background: white;
    padding: 1rem 5rem 1rem !important;

}


.navbar-brand {

    font-size: 1.5rem;
    font-weight: 300;
    color: main.$dark-grey;


    &:hover {
        color: main.$main-color;
    }


}

.nav-link {
    font-size: 1.1rem;
    color: main.$dark-grey;

    &:hover {
        color: main.$main-color !important;

    }

    &:active {
        text-decoration: solid !important;
        color: main.$main-color !important;
    }

    &:not(active) {
        text-decoration: none !important;
        color: main.$dark-grey !important;
    }

}



.studio-box {
    align-items: center;
    display: flex;

    .logo-nav {
        width: 100px;
    }
}