.container {

    display: flex;
    justify-content: space-between;
    background: white;
    align-items: center;
    padding: 1rem 5rem 1rem;



    img {
        width: 100px;
    }
}

.navbar-brand {
    font-size: 1.5rem;
    font-weight: 300;
    color: var(--dark-grey-color);

}

.nav-link {
    padding: 2rem;
    font-size: 1.1rem;
    color: var(--dark-grey-color);






}

.nav-link:hover {
    color: var(--blue-bg-color);
}

.nav-link:active {
    text-decoration: solid;
}

.studio-box {
    align-items: center;
    display: flex;


}